body {
    margin: 0;
    font-family: Arial;
    display: flex;
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    color: white;
}

.sidebar {
    width: 220px;
    background: #111;
    padding: 20px;
    height: 100vh;
}

.sidebar a {
    display: block;
    color: white;
    text-decoration: none;
    margin: 15px 0;
}

.sidebar a:hover {
    color: #00c6ff;
}

.main {
    flex: 1;
    padding: 40px;
}

form input {
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 300px;
}

button {
    padding: 10px 20px;
    background: #00c6ff;
    border: none;
    cursor: pointer;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background: rgba(255,255,255,0.1);
    padding: 20px;
    border-radius: 10px;
    width: 250px;
}
.low {
    border-left: 5px solid #2ecc71;
}

.moderate {
    border-left: 5px solid #f39c12;
}

.high {
    border-left: 5px solid #e74c3c;
}